:root{
    --clr-primary:#1164ff;
    --clr-secondary:#afafaf;
    --clr-white:#f4f4f4;
    --clr-black:#141414;
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Lato', sans-serif;
    --fs-heading:42px;
    --fs-sub-heading:26px;
    --fs-body:16px;
    --fw-bold:600;
    --fw-semi-bold:500;
    --fw-regular:400;
    --fw-light:300;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-body);
    color: var(--clr-black);
}

.content{
    /* min-height: 100vh; */
    padding-top: 70px;
}

a,a:hover,a:visited{
    text-decoration: none;
}

.content .content-title{
    text-align: center;
    font-family: var(--font-heading);
    font-size: var(--fs-sub-heading);
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
    margin-bottom: 20px;
}

.more-button{
    border: 1px solid var(--clr-primary);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: var(--font-heading);
    color: var(--clr-primary);
    font-size: var(--fs-body);
    transition: all .3s linear;
}

.more-button:hover{
    color: var(--clr-white);
    background-color: var(--clr-primary);
}

.float-btn{
    position: fixed;
    z-index:20;
    bottom: .75em;
    right: .75em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #4fc35d;
    text-decoration: none;
    font-size: 3.5em;
    width: 70px;
    height: 70px;
    padding: .2em;
    border-radius: 50%;
    transition: all .3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

.float-btn:hover{
    opacity: 0.9;
}


/* Navbar */

.navbar{
    position: fixed;
    z-index: 10;
    top: 20px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px; 
    background-color: transparent;
    transition: top .1s linear, background-color .3s linear;
}

.navbar.second-navbar{
    top:0;
    background-color: var(--clr-primary);
}

.navbar.second-navbar::after{
    display: none;
}

.navbar.scroll{
    top: 0;
    background-color: var(--clr-primary);
}

.navbar::after{
    content:'';
    display: block;
    height: 2px;
    width: 10%;
    position: absolute;
    bottom:-10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--clr-white);
    /* opacity: 1; */
    transition: width .3s linear;
}

.navbar.scroll::after{
    width: 0;
}

.navbar .navbar-brand{
    display: none;
    color: var(--clr-white);
}

.navbar ul li:not(:last-child){
    margin-right: 30px;
}

.navbar ul li .nav-link{
    font-family: var(--font-heading);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-white);
}

.navbar ul li .nav-link.active{
    color: var(--clr-primary);
}

.navbar ul li .nav-link .bx{
    display: none;
}


/* End Navbar */

/* Beranda */

#beranda .carousel{
    position: relative;
}

#beranda .carousel::after{
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

#beranda .carousel .carousel-item img{
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

/* End Beranda */

/* Layanan */

#layanan{
    /* background-color: var(--clr-primary); */
    text-align: center;
}

#layanan .title-layanan{
    margin-top: 35px;
}

#layanan .about-img{
    width: 20%;
    margin-bottom: 20px;
}

#layanan .content-description{
    text-align: center;
    font-size: var(--fs-body);
    font-family: var(--font-body);
    font-weight: var(--fw-regular);
    margin-bottom: 30px;
}

#layanan .col-layanan{
    margin:10px;
    border-radius: 20px;
    transition: all .3s linear;
}

#layanan .col-layanan:hover{
    background-color: var(--clr-primary);
    cursor: pointer;
    color: var(--clr-white);
}

#layanan .col-layanan .layanan-card{
   padding: 20px 10px 10px 10px;
}

#layanan .col-layanan .layanan-card .layanan-card-icon{
    font-size: var(--fs-heading);
}

#layanan .col-layanan .layanan-card .layanan-card-icon .bx{
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 10px;
    border-radius: 50%;
    transition: all .3s linear;
}

#layanan .col-layanan:hover .layanan-card .layanan-card-icon .bx{
    background-color: var(--clr-white);
    color: var(--clr-primary);
}

#layanan .col-layanan .layanan-card .layanan-card-title{
    font-family: var(--font-heading);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    font-size: 18px;
    margin: 20px 0;
}

#layanan .col-layanan .layanan-card .layanan-card-description{
    font-size: var(--fs-body);
}

/* End Layanan */

/* Produk */

#produk .card-item .card{
    border-radius: 15px;
    transition: all .2s linear;
    overflow: hidden;
}

#produk .card-item:hover .card{
    border: 2px solid var(--clr-primary);
    transform: translateY(-10px);
}

#produk .card-item .card .card-body .card-title{
    font-family: var(--font-body);
    font-size: var(--fs-body);
    color: var(--clr-black);
    min-width: 38px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#produk .card-item .card .card-body .card-price{
    font-family: var(--font-heading);
    font-size: 20px;
    font-weight: var(--fw-semi-bold);
    margin-bottom: 8px;
    color: var(--clr-primary);
}

#produk .card-item .card .card-body .card-price.card-product-price{
    font-family: var(--font-heading);
    font-size: var(--fs-body);
    font-weight: var(--fw-semi-bold);
    margin-bottom: 8px;
    color: var(--clr-primary);
}

/* End Produk */

/* Testimoni */

#testimoni .col-testimoni{
    height: 300px;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#testimoni .col-testimoni::after{
    content:'Ketuk untuk melihat Foto';
    display: block;
    width: 93%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    color: var(--clr-white);
    position: absolute;
    font-family: var(--font-heading);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-body);
    text-align: center;
    line-height: 300px;
    top: 0;
    opacity: 0;
    transition: all .3s linear;
    pointer-events: none;
}

#testimoni .col-testimoni:hover::after{
    opacity: 1;
}

#testimoni .col-testimoni .testimoni-text{
    display: block;
    color: var(--clr-primary);
    position: absolute;
}

#testimoni .col-testimoni .testimoni-link .testimoni-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/* End Testimoni */

/* Kontak */

#kontak .col-contact{
    padding: 25px 40px;
    border-radius: 30px;
}

#kontak .col-contact .form-label{
    color: var(--clr-primary);
    font-size: var(--fs-body);
    font-weight: bold;
}


#kontak .col-contact .form-button{
    color: var(--clr-white);
    background-color: var(--clr-primary);
}

/* End Kontak */

/* Footer */

.footer{
    background-color: var(--clr-primary);
    color: var(--clr-white);
    text-align: center;
    padding: 15px;
    font-family: var(--font-body);
}

.footer .footer-text{
    margin: 0;
    font-size: var(--fs-body);
}

/* End Footer */

/* Detail Product */

.wrapper-box{
    border-radius: 30px;
}

#detail-produk .col-image-product{
    padding: 20px;
    text-align: center;
}

#detail-produk .col-image-product .product-img{
    height: 225px;
    width: 225px;
    object-fit: cover;
}

#detail-produk .col-title-product{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#detail-produk .col-title-product .product-title{
    font-family: var(--font-heading);
    font-size: var(--fs-sub-heading);
}

#detail-produk .col-title-product .product-subtitle{
    color: var(--clr-secondary);
    font-size: var(--fs-body);
}

#detail-produk .col-title-product .product-price{
    font-size: var(--fs-sub-heading);
    font-weight: bold;
    color: var(--clr-primary);
}

#detail-produk .col-title-product .pay-button{
    background-color: var(--clr-primary);
    padding: 10px;
    margin-top: 20px;
    color: var(--clr-white);
}

#detail-produk .content-subtitle{
    font-family: var(--font-heading);
    color: var(--clr-primary);
    margin-top: 10px;
    margin-bottom: 25px;
    position: relative;
}

#detail-produk .content-subtitle::after{
    content: '';
    display: block;
    height: 3px;
    width: 15%;
    position: absolute;
    background-color: var(--clr-primary);
    bottom: -7px;
}

#detail-product .content-desc{
    font-family: var(--font-body);
    font-size: var(--fs-body);
    color: var(--clr-black);
}




/* Responsive Breakpoints */

/* Tablet Version */

@media (max-width:768px){

    /* Navbar */

    .navbar{
        top:10px;
    }

    .navbar::after{
        background-color: transparent;
    }

    .navbar .navbar-brand{
        display: block;
        font-family: var(--font-heading);
        font-weight: var(--fw-semi-bold);
    }

    .navbar .navbar-toggler{
        border:2px solid var(--clr-white);
    }

    .navbar .navbar-toggler:focus{
        outline: none;
        box-shadow: none;
    }

    .navbar .navbar-toggler .toggler-icon{
        color: var(--clr-white);
    }

    .navbar .navbar-collapse{
        background-color: var(--clr-black);
        padding: 0 10px;
        border-radius: 15px;
        margin-top: 10px;
    }

    .navbar ul li .nav-link .bx{
        display: inline-block;
        margin-right: 10px;
    }


    /* End Navbar */
}


/* Mobile Version */

@media(max-width: 376px){

    :root{
        --fs-heading:26px;
        --fs-sub-heading:16px;
        --fs-body:12px;
    }

    .float-btn{
        bottom: .35em;
        right: .35em;
        width: 50px;
        height: 50px;
        font-size: 2.6em;
    }

    
    #beranda .carousel::after{
        height: 70vh;
    }

    #beranda .carousel .carousel-item img{
        height: 70vh;
    }

    #layanan .about-img{
        width: 40%;
    }

    #layanan .col-layanan .layanan-card .layanan-card-title{
        font-size: var(--fs-sub-heading);
    }

    
    #produk .card-item .card .card-body .card-price{
        font-size: var(--fs-body);
    }

    #testimoni .col-testimoni{
        height: 150px;
    }
    
    #testimoni .col-testimoni::after{
        line-height: 150px;
    }

    
    #kontak .col-contact .form-control{
        font-size: var(--fs-body);
    }

    #kontak .col-contact .form-control::placeholder{
        font-size: var(--fs-body);
    }

    
}
